body{
	  font-family: "Open Sans", Arial, sans-serif;
  font-size: .83em;
  line-height: 1.75;
  color: #666666;
	background:#003c5d no-repeat;
}


h1{
	color:#fff;
	font-size:30px;
	font-weight:normal;
	padding:60px 0 20px;
	text-align:center;
	text-transform:uppercase;
}

table
{
	font-family: Calibri; 
	color:#ffffff; 
	font-size: 11pt; 
	font-style: normal;
text-align:; 
background-color: #003c5d; 
border-collapse: collapse; 
border: 2px solid navy;
}

table.inner
{
	border: 0px
	}
