.well a, .well a:hover, .well a:visited
{
	text-decoration: none;
	color:#ffffff;
}

img
{
	width: 50%;
	height: 50%;
	margin-left: 25%;
}


#mom, #til, #mc
{
	color:#CC1100;
}

#mom:hover, #til:hover, #mc:hover
{
	color:#66CDAA;	
}


#fb
{
	background-color:#3b5998;
	color:#ffffff;
}

#gg
{
	background-color: #dd4b39;
	color:#ffffff;
}

#lin
{
	background-color: #007bb5;
	color:#ffffff;
}

#ig
{
	background-color: #125688;
	color:#ffffff;
}

body, #middle
{
	background-color: #C82536;
	color:#ffffff;
	text-align: justify;
}

h1
{
	text-align: center;
	font-size: 1.5em;
}

.navbar 
{
    margin-bottom: 0;
    border-radius: 0;
}
    
.row.content 
{
	height: 550px
}
    
.sidenav 
{
    padding-top: 20px;
    background-color: #F0FFF0;
    height: 100%;
}
    
footer 
{
    background-color: #000000;
    color: white;
    padding: 15px;
}
    
@media screen and (max-width: 767px) 
{
    .sidenav 
    {
        height: auto;
        padding: 15px;
    }
      .row.content 
    {
    	height:auto;
    } 
}

